body {
	background-image: url("blackground.jpg");
	color: black;
}


.desno {
	float: right;
}

.omeni {
	margin-top: 20px;
	background-color: white;
	padding: 15px;
	border-radius: 10px;
}

.socijalne-mreze {
	margin-top: 20px;
	padding: 15px;
	border-radius: 10px;
	background-color: grey;
	float: right;
	position: center;
}

.github {
	border-radius: 10px;
	width: 10px;
	height: 10px;
}

.naslov {
	color: blue;
	font-size: 30px;
	font-family: Arial;
	padding-left: 7px;
	text-shadow: 2px 3px purple;
	letter-spacing: 2px;
}

.ikona {
	background-color: white;
	float: right;
	border-radius: 6px;
    border-bottom: 5px;
}


.topnav {
	min-width: 120px;
	height: 36px;
	font-size: 16px;
	cursor: pointer;
	letter-spacing: .1px;
	outline: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0 0 0 2px #f7f7f7;
	background-color: transparent;
	color: #ffffff;
	transition: all 200s ease-in-out;
	width: 100%;
	color: white;
	overflow: hidden;
	transition: 1s;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;*/
	overflow: hidden;
	transition: 1s;
}

.topnav a:hover {
	background-color: black;
	color: white;
	transform: scale(1.1);
	background-color: #f7f7f7;
	color: #a22274;
	font-weight: bold;
	box-shadow: 0 0 0 2px #a22274;
	letter-spacing: 1.1;
	border-top-left-radius: 16px;
	border-bottom-right-radius: 16px;
	overflow: hidden;
	transition: 1s;
}

.topnav a:active {
	background-color: white;
	color: white;
	transform: scale(1);
	overflow: hidden;
	transition: 1s;
}

.lista {
	color: black;
	font-size: 20px;
}

.responsivename a:active {
	background-color: black;
	font-size: 20px;
}

@media only screen and (max-width: 700px) {
	.topnav{
		width: 100%;
		background-color: transparent;
		position: absolute;
		top: 75px;
		right: 0px;
		z-index: 2;
	}

	.ikona {
		display: block;
	}
}

#icon {
	float: right;
	width: 30px;
	cursor: pointer;
}

.search-bar {
	float: right;
	padding-top: 8px;
	padding-right: 8px;

}

/*@media only screen and (max-width: 1000px) {

	.tekstovi {
		float: left;
		background-color: white;
		width: 950px;
		height: 800px;
		border-radius: 10px;
		margin-top: 20px;
		margin-left: 100px;
	}
}*/

.tekstovi {
	display: grid;
	float: left;
	background-color: white;
	width: 752px;
	height: 620px;
	border-radius: 10px;
	margin-top: 7px;
	margin-left: 45px;
	margin-bottom: 10px;
	padding: 20px;
	grid-template-columns: 100px 100px 100px 5px;
	justify-content: space-around;
}

.grid1 {
	width: 160px;
	height: 100px;
	background-color: darkgrey;
	border-radius: 10px;
}


.grid2 {
	width: 160px;
	height: 100px;
	background-color: darkgrey;
	border-radius: 10px;
}

.grid3 {
	float: right;
	width: 160px;
	height: 100px;
	background-color: darkgrey;
	border-radius: 10px;
}

p {
	font-family: serif;
}

.naziv {
	padding-left: 15px;
	background-color: darkgrey;
	border-radius: 10px;
	font-family: serif;
}

.tekst {
	padding-left: 7px;
	background-color: darkgrey;
	border-radius: 10px;
	font-family: serif;
}

.copydesno {
	float: right;
}

.copyright {
	color: black;
	text-decoration: none;
}

.copydiv {
	margin-top: 105px;
	background-color: grey;
	padding: 15px;
	border-radius: 20px;
	margin-right: 170px;
}

#preloader {
	background: #000 url(img/loader.gif) no-repeat center center;
	background-size: 6%;
	height: 100vh;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: fixed;
	z-index: 100;
}