body {
	background-image: url("background.jpg");
}

.pocetnadiv {
	font-family: sans-serif;
	background-color: black;
}

.opisopisa {
	color: black;
}

.pocetnadiv {
	min-width: 120px;
	height: 36px;
	font-size: 16px;
	cursor: pointer;
	letter-spacing: .1px;
	outline: none;
	border: none;
	border-radius: 2px;
	box-shadow: 0 0 0 2px #f7f7f7;
	background-color: transparent;
	color: #ffffff;
	transition: all 200s ease-in-out;
	width: 100%;
	color: black;
}

.pocetnadiv a {
	float: left;
	color: grey;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;*/
}

.pocetnadiv a:hover {
	background-color: black;
	color: grey;
	transform: scale(1.1);
	background-color: #f7f7f7;
	color: #a22274;
	font-weight: bold;
	box-shadow: 0 0 0 2px #a22274;
	letter-spacing: 1.1;
	border-top-left-radius: 16px;
	border-bottom-right-radius: 16px;
}

.pocetnadiv a:active {
	background-color: grey;
	color: grey;
	transform: scale(1);
}

.copyright {
	text-align: right;
	border-bottom-right-radius: 20px;
}