.update {
	background: linear-gradient(to right, darkviolet, red);
	color: black;
	margin-top: 8px;
}

.tekst {
	font-size: 25;
	margin-top: 12px;
	background: linear-gradient(to right, skyblue, deeppink);
}

.developer {
	margin-top: 130px;
	padding: 6px;
	border-radius: 22px;
	background-color: transparent;
	float: right;
	position: center;
}